<div class="CenterMessages">
    <h3 class="titleMessages">Centro de Mensajes</h3>
    <input id="name" class="form-control hideForm" type="text" placeholder="Escribe aquí tu nombre" autoComplete='off' value={{users.userName}}>
    <input id="lastName" class="form-control hideForm" type="text" placeholder="Escribe aquí tu apellido" autoComplete='off' value={{users.name}}>
    <input id="age" class="form-control hideForm" type="text" placeholder="Escribe aquí tu edad" autoComplete='off' value={{users.age}}>
    <input id="nickName" class="form-control hideForm" type="text" placeholder="Escribe aquí tu apodo" autoComplete='off' value={{users.name}}>
    <input id="avatar" class="form-control hideForm" type="text" placeholder="Escribe aquí la url de tu avatar" autoComplete='off' value={{users.avatar}}>
    <label for="chatBox" class="label-title">Mensaje:</label>
    <input id="chatBox" class="form-control" placeholder="Escribe aquí tu mensaje"/>
    <input type="submit" id="success" class="btn btn-success">
    </br>
</div>
<div class="History">
    <span id="log"></span>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>

<style>
    .CenterMessages{
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 0.5px black solid;
        padding-bottom: 20px;
    }
    .form-message{
        margin-bottom: 30px;
        padding: 3px;
        padding-left: 10px;
    }
    .titleMessages{
        margin-bottom: 20px;
    }
    .label-title{
        font-size: 16px;
        font-weight: bold;
        color: green;
    }
    .History{
        margin-bottom: 30px;
    }
    .hideForm{
        display: none;
    }
</style>